.loginBG{
    width: 100%;
    height : 100vh
}
.loginBGImage{
    width: 100%;
    height : 100vh
}
.formWrapper{
    width: 100%;
    height: 100vh;
    z-index: 9999;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #dd0f0f; /* Set your desired thumb color */
    border-radius: 24px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Set your desired track color */
  }

.borderRed{
    border-color: #dd0f0f;
}
.innerWrapperVidList > div:last-child{
  margin-bottom: 0;
}